:root {
    --background: #efcfc4;
    --secondary: #9b045f
}

body {
    background-color: var(--background);
}

header #title {
    display: none;
}

nav {
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 30px;
}

nav #logo {
    color: var(--background)
}

nav button {
    margin: 6px;
    font-size: 1.1em;
    border: none;
    color: var(--secondary);
    background-color: var(--background);
    transition: background-color .3s, color .3s;
    border-radius: 3px;
    padding: 3px;
}

nav button:hover {
    color: var(--background);
    background-color: var(--secondary);
    cursor: pointer;
}

#hero {
    aspect-ratio: 16/9;
    background-image: url(./img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    border-radius: 20px;
}

#footerbuttons button {
    display: block;
    margin: 20px;
    font-size: 1.2em;
    border: none;
    color: var(--background);
    background-color: var(--secondary);
    transition: background-color .3s, color .3s;
}

footer {
    width: 100%;
}

#footerbuttons button:hover {
    color: var(--secondary);
    background-color: var(--background);
}

#footerbuttons {
    width: 60%;
    min-width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}